<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <%- include('../layout.ejs')%>
    <h2 align="center">Hello : <%= student.fname %></h2>
    
    <div class="container">
        <h5>My Class</h5>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ClassID</th>
                    <th scope="col">ClassName</th>
                    <th scope="col">View Lession</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    </div>
    
</body>
</html>